<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.30/vue.global.min.js"></script>
    <title>Document</title>
</head>
<body>
    
<h1>Attribution des dossards</h1>
    <div id="app">        
        <ul>
            <li v-for="participant in sortedTickets">
                {{participant}}
        </ul>
    </div>

    <script src = "../JS/giveDossards.js"></script>
</body>
</html>