<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.30/vue.global.min.js"></script>
        <link rel="stylesheet" href="./CSS/giveDossardsCSS.css">

        <title>Give Dossards</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="./giveDossards.html">Attribution des dossards</a></li>
                <li><a href="./recupDossards.html" >Récupération des dossards</a></li>
            </ul>
        </nav>
        <h1>Attribution des dossards</h1>
        <div id="app">
            <div>
                <label>
                    Nom du participant: <input v-model="selected_participant" @keydown.enter="selectParticipant(selected_participant)" type="search" name="participant" list="listParticipants">
                </label>
                <datalist id="listParticipants">
                    <option v-for="participant in participants" :value="participant.last_name + ' ' + participant.first_name">
                        {{participant.tickets_id}}
                    </option>
                </datalist>
            </div>
            <div v-if="selectedParticipantValue != null">
                <label>N° ticket : {{selectedParticipantValue.tickets_id}}</label>
                <div>
                    <label>
                        N° de plaque: <input v-model="selectedParticipantValue.plate_number">
                    </label>
                    <button @click="updatePlateNumber(selectedParticipantValue.plate_number)"> Modifier la plaque </button>
                </div>
                <div>
                    <label>
                        Commentaire: <textarea v-model="selectedParticipantValue.comment"> </textarea>
                    </label>
                    <button @click="updateComment(selectedParticipantValue.comment)"> Modifier le commentaire </button>
                </div>
                <label>
                    Statut de paiement: <input id="payementStatu" type="checkbox" @change="setPayementStatus()" v-model="selectedParticipantValue.payment_status">
                </label>
            </div>
            <div v-if="selectedParticipantValue != null && selectedParticipantValue.payment_status">

                <h2>Attribution du dossard</h2>
                <label>
                    N° de dossard: <input v-model="selectedParticipantValue.dossard_number">
                </label>
                <label>
                    Couleur du dossard: <select v-model="selectedParticipantValue.dossard_color">
                        <option value="Rouge">Rouge</option>
                        <option value="Bleu">Bleu</option>
                        <option value="Vert">Vert</option>
                    </select>
                </label>
                <label>
                    Couleur de la police: <select v-model="selectedParticipantValue.font_color">
                        <option value="Noir">Noir</option>
                        <option value="Blanc">Blanc</option>
                    </select>
                </label>
                <button v-if="selectedParticipantValue.font_color != null && selectedParticipantValue.dossard_color != null &&  selectedParticipantValue.dossard_number != null" id="dossardButton" @click="giveDossard(selectedParticipantValue.tickets_id)">Attribuer le dossard</button>
            </div>

        </div>

        <script src = "../JS/giveDossards.js"></script>
    </body>
</html>